*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
header{
    text-align: center;
    margin-bottom: 20px;
}
h1{
    color: #333;
}
.client{
    padding:10px;
    margin:15px;
    font-size:20px;
    font-weight:300;
}
.items{
    
}